<div class="col-lg-6">
    <div class="card text-center mb-5">
        <div class="card-header p-0">
            <div class="blog-media">
                <img src="{{ asset('post_images/' ~ post.image) }}" alt="" class="w-100">
                <a href="#" class="badge badge-primary">#Placeat</a>
            </div>
        </div>
        <div class="card-body px-0">
            <h5 class="card-title mb-2">{{ post.title }}</h5>
            <small class="small text-muted">{{ post.date|date("d.m.Y") }}
                <span class="px-2">-</span>
                <a href="#" class="text-muted">Komentarze: {{ post.comments|length }}</a>
            </small>
            <p class="my-2">{{ post.content|escape|slice(0,255) }}...</p>
        </div>

        <div class="card-footer p-0 text-center">
            <a href="single-post.html" class="btn btn-outline-dark btn-sm">czytaj więcej</a>
        </div>
    </div>
</div>